{% if localization.available_languages.size > 0 %}
  <localization-form>
    {% form 'localization' %}
      <div class="disclosure btn-languages">
        <div class="disclosure__button" aria-expanded="false" aria-controls="LanguageList">
          {{ localization.language.iso_code | lowercase }}
          {% include 'icon-arrow-down' %}
        </div>

        <ul id="LanguageList" role="list" class="disclosure__list" hidden>
          {% for language in localization.available_languages %}

            {% if language.iso_code == "it" %}
              {% assign iso_code = "ita" %}
            {% elsif language.iso_code == "en" %}
              {% assign iso_code = "eng" %}
            {% endif %}

            <li class="disclosure__item" tabindex="-1">
              <a href="#"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}" data-value="{{ language.iso_code }}">
                <span>{{ iso_code | lowercase }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>

        <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
      </div>
    {% endform %}
  </localization-form>
{% endif %}
