{%- assign per_row = section.settings.per_row -%}
{%- assign paginate_by = per_row | times: section.settings.rows_per_page -%}

{% if current_tags contains "Stay X-Warm" %}
  {%- assign class_rte ="stay-x-warm"-%}
{%endif%}
{% if current_tags contains "Stay Warm" %}
  {%- assign class_rte ="stay-warm"-%}
{%endif%}
{% if current_tags contains "Stay Fresh" %}
  {%- assign class_rte ="stay-fresh"-%}
{%endif%}
{% if current_tags contains "Light Warm" %}
  {%- assign class_rte ="light-warm"-%}
{%endif%}

{%- assign collection_tag = collection.title -%}
{% assign current_month = 'now' | date: "%m" %}

{% case current_month %}
  {% when "12" or "01" or "02" or "11" %}
  {% assign collection_array = "warm,xwarm,fresh" | split: ',' %}
  {% when "03" or "10" %}
  {% assign collection_array = "warm,fresh,xwarm" | split: ',' %}
  {% when "04" or "05" or "06" or "07" or "08" or "09" %}
  {% assign collection_array = "fresh,warm,xwarm" | split: ',' %}
{% endcase %}

{% include 'breadcrumbs-collection' %}

<div
  id="CollectionSection"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template">

  {%- if section.settings.description_position == 'top' -%}
    {% if collection.description != blank %}
      <div class="rte {{class_rte}}">
        {{ collection.description }}
      </div>
      {% if current_tags contains "Stay Fresh" or current_tags contains "Stay Warm" or current_tags contains "Stay X-Warm" or current_tags contains "Light Warm" %}
       
          {% include 'collections-square' %}
          
      {% endif %}
      <hr class="hr--clear hr--small">
    {% endif %}
  {%- endif -%}

  {%- if section.settings.subcollection_style == 'above' -%}
    {%- include 'subcollections', per_row: section.settings.subcollections_per_row -%}
  {%- endif -%}

  

  <div class="collection-filter">
    {%- assign current_filter_size = current_tags | size -%}
    <div class="collection-filter__item collection-filter__item--drawer">
      <button
        type="button"
        class="js-drawer-open-collection-filters btn btn--tertiary{% unless current_filter_size == 0 %} btn--tertiary-active{% endunless %}"
        aria-controls="FilterDrawer">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-filter" viewBox="0 0 64 64"><path d="M48 42h10M48 42a5 5 0 1 1-5-5 5 5 0 0 1 5 5zM7 42h31M16 22H6M16 22a5 5 0 1 1 5 5 5 5 0 0 1-5-5zM57 22H26"/></svg>
        {{ 'collections.filters.title_tags' | t }}
        {%- if current_filter_size > 0 -%}
          ({{ current_filter_size }})
        {%- endif -%}
      </button>
    </div>

    <div class="collection-filter__item collection-filter__item--count small--hide">
      {%- if section.settings.enable_collection_count -%}
        {{ 'collections.general.items_with_count' | t: count: collection.products_count }}
      {%- endif -%}
    </div>

    <div class="collection-filter__item collection-filter__item--sort">
      <div class="collection-filter__sort-container">
        {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
        {%- assign default_sorted = false -%}
        {%- if sort_by == collection.default_sort_by -%}
          {%- assign default_sorted = true -%}
        {%- endif -%}
        <label for="SortBy" class="hidden-label">{{ 'collections.sorting.title' | t }}</label>
        <select name="SortBy" id="SortBy">
          <option value="title-ascending"{% if sort_by == collection.default_sort_by %} selected="selected"{% endif %}>{{ 'collections.sorting.title' | t }}</option>
          {% for option in collection.sort_options %}
            <option value="{{ option.value }}" {% unless default_sorted %}{% if option.value == sort_by %}selected="selected"{% endif %}{% endunless %}>{{ option.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>

  {%- if section.settings.enable_collection_count -%}
    <p class="medium-up--hide text-center">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</p>
  {%- endif -%}

 

  <div
    class="grid grid--uniform grid--collection{% if section.settings.mobile_flush_grid %} small--grid--flush{% endif %}"
    data-scroll-to>
    {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}

    {% case per_row %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}


    {% if current_tags contains "Stay Fresh" or current_tags contains "Stay Warm" or current_tags contains "Stay X-Warm" or current_tags contains "Light Warm" %}
       
      {%- for product in collection.products -%}
        {%- include 'product-grid-item' -%}
      {%- else -%}
        <div class="grid__item">
          <p class="collections_no_matches">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {%- endfor -%}

    {% else %}

      {% for current_collection in collection_array %}

        {% if current_collection == "fresh" %}
          {%- for product in collection.products -%}
            {% if product.tags contains 'Stay Fresh' %}
              
              {% if current_tags != blank %}
                {% for current_tag in current_tags %}
                  {% if product.tags contains current_tag %}
                    {%- include 'product-grid-item' -%}
                  {% endif %}
                {%- endfor -%}
              {% else %}
                {%- include 'product-grid-item' -%}
              {% endif %}

            {% endif %}
          {%- endfor -%}
        {% endif %}

        {% if current_collection == "warm" %}
          {%- for product in collection.products -%}
            {% if product.tags contains 'Stay Warm' %}

              {% if current_tags != blank %}
                {% for current_tag in current_tags %}
                  {% if product.tags contains current_tag %}
                    {%- include 'product-grid-item' -%}
                  {% endif %}
                {%- endfor -%}
              {% else %}
                {%- include 'product-grid-item' -%}
              {% endif %}

            {% endif %}
          {%- endfor -%}
        {% endif %}

        {% if current_collection == "xwarm" %}
          {%- for product in collection.products -%}
            {% if product.tags contains 'Stay X-Warm' %}

              {% if current_tags != blank %}
                {% for current_tag in current_tags %}
                  {% if product.tags contains current_tag %}
                    {%- include 'product-grid-item' -%}
                  {% endif %}
                {%- endfor -%}
              {% else %}
                {%- include 'product-grid-item' -%}
              {% endif %}
              
            {% endif %}
          {%- endfor -%}
        {% endif %}

      {% endfor %}

    {% endif %}




    {% comment %} {%- for product in collection.products -%}
      {%- include 'product-grid-item' -%}
    {%- else -%}
      <div class="grid__item">
        <p class="collections_no_matches">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {%- endfor -%} {% endcomment %}

  </div>

  {%- if section.settings.subcollection_style == 'below' -%}
    {%- include 'subcollections', per_row: section.settings.subcollections_per_row -%}
  {%- endif -%}

  {%- if section.settings.description_position == 'bottom' -%}
    {% if collection.description != blank %}
      <hr class="hr--clear hr--small">
      <div class="rte">
        {{ collection.description }}
      </div>
      <hr class="hr--clear hr--small">
    {% endif %}
  {%- endif -%}

</div>

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "description_position",
        "label": "Collection description position",
        "default": "top",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ]
      },
      {
        "type": "header",
        "content": "Subcollections"
      },
      {
        "type": "paragraph",
        "content": "Links to collections from your menu will appear here. [Learn more](https://archetypethemes.co/blogs/impulse/how-do-i-create-subcollections)"
      },
      {
        "type": "select",
        "id": "subcollection_style",
        "label": "Subcollection style",
        "default": "above",
        "options": [
          {
            "value": "above",
            "label": "Above products"
          },
          {
            "value": "below",
            "label": "Below products"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "range",
        "id": "subcollections_per_row",
        "label": "Subcollections per row",
        "default": 5,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "header",
        "content": "Products"
      },
      {
        "type": "checkbox",
        "id": "enable_collection_count",
        "label": "Enable collection count",
        "default": true
      },
      {
        "type": "range",
        "id": "per_row",
        "label": "Products per row",
        "default": 4,
        "min": 2,
        "max": 5,
        "step": 1
      },
      {
        "type": "range",
        "id": "rows_per_page",
        "label": "Rows per page",
        "default": 7,
        "min": 3,
        "max": 20,
        "step": 1
      },
      {
        "type": "checkbox",
        "id": "mobile_flush_grid",
        "label": "Flush grid on mobile",
        "default": false
      }
    ]
  }
{% endschema %}