<link rel="stylesheet" href="{{ 'modulo-slider-cards.css' | asset_url }}" type="text/css">

<div class="slider-cards" style="padding-top:{{section.settings.padding_top_bottom}}px; padding-bottom:{{section.settings.padding_top_bottom}}px;">

  <div class="slider-navigation">
    <div class="slider-navigation__content">
      <div class="swiper-button-next">                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewbox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path></svg>
      </div>
      <div class="swiper-button-prev">                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewbox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>
      </div>
    </div>  
  </div>

  <div class="cards-slider">

    <div class="swiper-container ">
      <div class="swiper-wrapper">

        {% for card in section.blocks %}
          <div class="swiper-slide">
            <div class="card-box">
              <img class="no-mob" src="{{ card.settings.image_desk | img_url: 'master' }}" alt="silverskin">
              <img class="no-desk" src="{{ card.settings.image_mob | img_url: 'master' }}" alt="silverskin">
              <div class="card-box__content">
                <h5>{{ card.settings.title }}</h5>
                <p>{{ card.settings.text }}</p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>

    <div class="swiper-pagination"></div>

  </div>

</div>

{% schema %}
  {
    "name": "Slider Cards",
    "settings": [
      {
        "type": "number",
        "id": "padding_top_bottom",
        "label": "Padding Top Bottom"
      }
    ],
    "blocks": [
      {
        "type": "cards",
        "name": "Cards",
        "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "text",
              "id": "text",
              "label": "Text"
            },
            {
              "type": "image_picker",
              "id": "image_desk",
              "label": "Image Desk"
            },
            {
              "type": "image_picker",
              "id": "image_mob",
              "label": "Image Mob"
            }
        ]
      }
    ],
    "presets": [
        {
            "name": "Slider Cards",
            "blocks": [
              {
              "type": "cards"
              }
          ]
        }
    ]
  }
{% endschema %}
